<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인하세요.</title>
    <link rel="stylesheet" href="stylesheets/logIn.css">
    <script src="javascripts/logIn.js"></script>
</head>
<body>
  <div class="window">
      <div class="title-bar">
          <span class="title">내 학점 비서</span>
      </div>
      <div class="login-container">
          <form class="login-form">
              <input type="text" placeholder="Username" name="username" id="username" required>
              <input type="password" placeholder="Password" name="password" id="password" required>
              <button type="button" onclick="login()">Login</button>
          </form>
          <div class="signup-link">
            <a href="/signUp">Sign Up</a>
          </div>
      </div>
  </div>

  <script>

  </script>
</body>

</html>