<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/signUp.css">
    <script src="javascripts/signUp.js"></script>
    <title>회원가입</title>
</head>
<body>
    <div class="window">
        <div class="title-bar">
            <span class="title">Sign Up</span>
        </div>
        <div class="signup-container">
            <form class="signup-form">
                <label for="id">아이디</label>
                <input type="text" id="id" name="id" required maxlength="20" placeholder="영문/숫자만 입력 가능">
                
                <label for="username">닉네임</label>
                <input type="text" id="username" name="username" placeholder="username" required>
            
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" id="checkedPassword" name="checkedPassword" placeholder="Confirm Password" required>
            
                <button type="button" onclick="signUp()">회원가입</button>
            </form>
            <div class="login-link">
                <a href="/logIn">이미 계정이 있나요? Login</a>
            </div>
        </div>
    </div>
</body>
</html>
